.column {
    margin-top: 5em;
}

.footer {
  padding: 20px 0px;
  background: #999;
  text-align: center;
  bottom: 0;
  position: absolute;
}

#main:before{
    content: "";
    position: fixed;
    left: 0;
    display: block;
    background: url('https://i.pinimg.com/736x/07/05/8b/07058b79b11f0617105af234df35dd7b--forest-road-tree-forest.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#main{
  z-index: 0;
}

.blog-post {
  border-radius: 5px;
  background-color: white;
  margin-bottom: 30px;
  padding: 20px;
}

.blog-post-title {
  font-weight: 700;
  text-align: left;
}

.blog-post-author {
  color: grey;
  font-weight: 400;
  font-style: italic;
}

.hidden {
  display: none;
}

#logo-img {
  height: 5em;
  width: 15em;
  display: inline-block;
}

.white {
  background-color: white;
  padding: 20px;
}

.rounded {
  border-radius: 5px;
}

.fa {
padding: 10px;
font-size: 20px;
width: 40px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
