<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>General Running</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
  </head>
  <body>

    <div id="main" class="ui grid container">
<!-- NAVBAR -->
      <div class="row">
        <img id="logo-img" src="/images/placeholder.png" alt="Blog Logo">
      </div>

      <div class="row">
        <div id="left-tab" class="three wide column">
          <div class="row">
            <div class="ui vertical small menu">
              <a id="home-button" class="item">Home</a>
              <a id="about-button" class="item">About</a>
              <a id="login-button" class="item">Login</a>
              <a id="subscribe-button" class="item">Subscribe</a>
              <a id="logout-button" class="item">Logout</a>
              <a id="contact-button" class="item">Contact Us</a>
            </div>
          </div>
        </div>

<!-- Home Page -->
        <div id="home-page" class="ten wide column"></div>

<!-- About Page -->
        <div id="about-page" class="ten wide column white rounded">
          <p>Hi! My name is Jacob Quigley, and I am the creator if this blog, (insert blog name here).</p>
          <p>I am a rising junior at Washington University in St. Louis, majoring in Computer Science and Mathematics. As a result of my computer science background, I am in the process of creating this blog from scratch. As a result, it is in a rather primitive state at the time of writing this (August 12, 2018). I hope to include more features in the future to allow a greater user experience and ideally more content.</p>
          <p>As for running, I first started running cross country in 6th grade, and have only grown to love the sport more and more as time goes on. I hope to include in this blog some tales of my experiences through the different levels of running that I've experienced, the ups and downs, what I've learned, and what I hope to accomplish.</p>
          <p>Feel free to email me <a href="mailto:quigley.jacob3@icloud.com">here</a> or select any of my social media of your preference.</p>
          <div class="">
            <a class="fa fa-facebook" href="https://www.facebook.com/jacob.quigley2" target="_blank"></a>
            <a class="fa fa-twitter" href="https://twitter.com/JacobMQuigley" target="_blank"></a>
            <a class="fa fa-instagram" href="https://www.instagram.com/realquigs/" target="_blank"></a>
          </div>
        </div>

<!-- Login Page -->
        <div id="login-page" class="ten wide column white rounded">
          <div class="ui huge header center aligned">
            Login
          </div>
          <form id="login-form" class="ui form">
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <label>Email</label>
                  <input type="text" name="email" placeholder="Email Address" required>
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="password" name="password" placeholder="Password" required>
                </div>
              </div>
            </div>
            <div class="field">
              <button class="ui fluid button" type="submit">Login</button>
            </div>
          </form>
        </div>

<!-- Subscribe Page -->
        <div id="subscribe-page" class="ten wide column white rounded">
          <div class="ui huge header center aligned">
            Sign up to get emails and post comments.
          </div>
          <form id="subscribe-form" class="ui form">
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <label>First Name</label>
                  <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                  <label>Last Name</label>
                  <input type="text" name="last-name" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="field">
              <label>Email Address</label>
              <input type="text" name="email" placeholder="Email Address">
            </div>
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <label>Password</label>
                  <input type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                  <label>Confirm Password</label>
                  <input type="password" name="confirm-password" placeholder="Confirm Password">
                </div>
              </div>
            </div>
            <br>
            <button class="ui fluid button" type="submit">Register</button>
          </form>
        </div>

<!-- Contact Page -->
        <div id="contact-page" class="ten wide column white rounded">
          I'm getting a little ahead of myself here. Maybe there will be more people involved in the future, but for now my contact info is in the "About" tab
        </div>

<!-- Details Page -->
        <div id="post-page" class="ten wide column white rounded">
          <div id="post-title" class="ui huge header center aligned"></div>
          <em><div id="post-author"></div></em>
          <div id="post-time"></div>
          <hr>
          <div id="post-body"></div>
        </div>

        <div id="right-tab" class="three wide column"></div>
      </div>

      <div class="row footer rounded">
        <div class="column footer">
          <p>Website created by Jacob Quigley. </p>
          <p>Much of the styling is from <a href="https://semantic-ui.com/">Semantic UI</a>. </p>
          <p>Site is hosted by <a href="https://www.heroku.com/">Heroku</a>.</p>
          <p>Source code can be found <a href="https://github.com/quigleyjacob/running_site">here</a>. Reuse permitted if properly attributed.</p>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
</html>
