<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Workout</div>
    <form class="ui form" action="/workouts" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="workout[title]" placeholder="Title" required>
        </div>
        
        <div class="field">
            <label>Mileage</label>
            <input type="number" min="0" step="0.01" name="workout[mileage]" placeholder="Mileage" required>
        </div>
        
        <div class="field">
            <label>Date</label>
            <input type="date" name="workout[date]" require>
        </div>

        <div class="field">
            <label>Description</label>
            <textarea name="workout[desc]"></textarea>
        </div>
        <input class="ui green big basic button" type="submit">
    </form>
</div>

<% include ../partials/footer %>