<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Runner</div>
    <form class="ui form" action="/runners" method="POST">
        <div class="field">
            <label>First Name</label>
            <input type="text" name="runner[firstName]">
        </div>
        
        <div class="field">
            <label>Last Name</label>
            <input type="text" name="runner[firstName]">
        </div>
        
        <div class="field">
            <label>School</label>
            <input type="text" name="runner[school]">
        </div>
        
        <div class="field">
            <label>800m PR</label>
            <input type="text" name="runner[pr800]">
        </div>

        <div class="field">
            <label>1600m PR</label>
            <input type="text" name="runner[pr1600]">
        </div>
        
        <div class="field">
            <label>3200m PR</label>
            <input type="text" name="runner[pr3200]">
        </div>
        <div class="field">
            <label>Biography</label>
            <textarea name="runner[bio]"></textarea>
        </div>
        <input class="ui green big basic button" type="submit">
    </form>
</div>

<% include ./partials/footer %>